@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 

/* Set fontsize, ... for Thunderbird folder pane
   Usefull for aging Gen-Xers in conjunction with 4k displays
   Put into ~/.thunderbird/*.default-release/chrome/userChrome.css
   Adjust to personal preference.
*/


/* Set Font Size In Folder Pane */

#folderTree >treechildren::-moz-tree-cell-text {
  /*font-family: Lucida Sans !important;*/
  font-size: 12pt !important; }

/* Set Font Size In Thread Pane */

#threadTree >treechildren::-moz-tree-cell-text {
  /*font-family: Lucida Sans !important;*/
  font-size: 12pt !important; }

#threadTree treechildren::-moz-tree-row    {
/*  border-bottom: 1px dotted grey !important;  */
  height: 22px !important; }

/* folder list spacing */

/*  height: 42px !important; */ 

#folderTree treechildren::-moz-tree-row    {
  height: 22px !important; 
}

#threadTree treechildren::-moz-tree-row(odd) {
  -moz-appearance: none !important;
  background-image: none !important;
  background-color:#404040 !important;
  color:#000000 !important;
}
#threadTree treechildren::-moz-tree-row(selected) {
  background-color: -moz-Dialog !important;
}
#threadTree treechildren::-moz-tree-row(selected, focus) {
  background-color: Highlight !important;
}

#folderTree treechildren::-moz-tree-row(selected) {
  -moz-appearance: none !important;
  background-image: none !important;
  background-color: Highlight !important;
}
#folderTree treechildren::-moz-tree-row(selected, focus) {
  -moz-appearance: none !important;
  background-image: none !important;
  background-color: Highlight !important;
}
